extends layout
title File Metadata
block content
  p Submit a file
  form(action="/", method="post", enctype="multipart/form-data")
    input(type="file", name="upload")
    button Upload

  script(type='text/javascript').
    if (#{size}) {
      window.alert('File size is: ' + #{size} + ' KB.')
    }